{% extends 'base.html' %}

{% load static %}

{% block content %}

<h2 class="text-center">ADD movies</h2>

<form method="POST" enctype="multipart/form-data">
  {% csrf_token %}
<div class="mb-3">
  <label  class="form-label">Movie name</label>
  <input type="text" class="form-control" style="width:300px" value="{{movie.title}}" placeholder="Enter movie name" name="t">
</div>
<div class="mb-3">
  <label  class="form-label">Movie description</label>
  <textarea id="description" style="width:300px;" class="form-control" placeholder="Enter description of the movie" name="d">{{movie.description}}</textarea>
</div>
<div class="mb-3">
  <label  class="form-label">Year released</label>
  <input type="number" style="width:300px;" class="form-control" value="{{movie.year}}" placeholder="enter the year" name="y">
</div>
<div class="mb-3">
  <label  class="form-label">language</label>
  <input type="text" style="width:300px;" class="form-control" value="{{movie.language}}" placeholder="enter the language of movie" name="l">
</div>
  <div class="mb-3">
  <label class="form-label">movie cover</label>
  <img src="{{movie.image.url}}" height="100px" >
  <input type="file" style="width:300px;" class="form-control"  placeholder="cover of the movie" name="i">
</div>

<div class="mb-3">

  <input type="submit" style="width:300px;" class="form-control btn btn-primary" name="add" value="Save changes">
</div>

  </form>

{% endblock %}