{% extends 'base.html' %}
{% load static %}
{% block content %}


<div class="container mt-5" style="margin-bottom:100px" xmlns="http://www.w3.org/1999/html">
   <div class="row">
    {% for i in product %}
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            <div class="col-md-4">
                <img src="{{ i.image.url }}" class="img-fluid rounded-start" alt="...">
            </div>
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{ i.name }}</h5>
                    <p class="card-text " style="line-height:1.5; text-align:justify;">{{ i.desc }}</p>
                    <p class="card-text" style="font-size: 14px; font-weight: bold;">
                        Price: <span>{{ i.price }}</span>
                    </p>
                    <p class="card-text">
                        Left: <span>{{ i.stock }}</span>
                    </p>
                    <p class="card-text">
                        <small class="text-muted">
                            Last updated on <span>{{ i.updated }}</span>
                        </small>
                    </p>

                    {% if user.is_superuser %}
                        {% if i.stock > 0 %}
                            <a href="{% url 'shop:add_stock' i.id %}" class="btn btn-info px-5 mb-2 fs-5">Add Stock</a>
                        {% else %}
                            <h2 class="text-danger">PRODUCT OUT OF STOCK</h2>
                            <a href="{% url 'shop:add_stock' i.id %}" class="btn btn-info px-5 mb-2 fs-5">Add Stock</a>
                        {% endif %}
                    {% else %}
                        {% if i.stock > 0 %}
                            <a href="{% url 'cart:addtocart' i.id %}" class="btn btn-info px-5 mb-2 fs-5">Add to cart</a>
                        {% else %}
                            <h2 class="text-danger">OUT OF STOCK</h2>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>

</div>
{% endblock %}